


$white100: #ffffff;
$grey100: #EAEBEF;
$grey200: #707070;
$grey300: #1D1D28;
$grey400: #1D1D28;
$grey500: #E3E3E3;
$black100: #1D1D28;
$green100: #4FAE32;
$blue100: #006EBA;

:root {
    --primary100: #{$grey100};
    --secondary100: #{$grey500};
    --black100: #{$black100};
    --green100: #{$green100};
    --white100: #{$white100};
    --grey200: #{$grey200};
    --grey300: #{$grey300};
    --border-color: #{$grey200};
    --blue100: #{$blue100}; 
}